*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

.secoes{

    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px auto;

}

@media only screen and (min-width: 1400px) {
    .secoes{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
 
.secao{

    background-color: rgb(219, 219, 219);
    border: 2px solid rgb(197, 197, 197);
    border-radius: 3px;
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;


}


.secao-content{

    margin: 0 auto;
    width: 90%;


}


.secao-content > p{

    margin: 20px;
    font-size: 20px;
    
}

.card{

    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    padding: 20px;
    display: flex;
    margin-bottom: 10px;

}

.card:hover{

    background-color: rgb(206, 206, 206);
    cursor: pointer;

}

.card .imagem{

    width: 20%;
    position: relative;
    margin-right: 20px;

}

.card .imagem img{

    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.card .informacoes{

    width: 80%;

}

.dados-pessoais .secao-content > div:not(.parcelar){
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.dados-pessoais .secao-content > div input:not(.input-parcelar){

    border: none;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;

}

.bandeiras{
    margin-top: 5px;

}

.bandeiras i{

    color: rgb(163, 163, 163);
    margin-right: 2px;
    font-size: 20px;
   
}

.bandeiras i:hover{

    transform: scale(1.2);

}
.validade-opcoes{

    flex: none;
    width: 100%;

}

.validade-opcoes select, .validade-opcoes #ano{

    width: 49%;
    padding: 10px;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;

}


.parcelar{

    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.parcelar label{

    font-size: 18px;


}

.parcelar > input{
    width: 30px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(128, 128, 128);
    margin-left: 5px;
    margin-right: 5px;
    
}


.comprar{

    width: 100%;
    border: none;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(82, 177, 82);
    color: white;
    font-size: 16px;

}

.produtos-selecionados{

    width: 100%;
    height: 300px;
    border: 1px solid rgb(151, 151, 151);
    overflow-y: scroll;

}


.secao-produto{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
}

.linha{

    display: flex;
    position: relative;
    margin-bottom: 10px;

}

.valor{

    position: absolute;
    right: 0;
    

}

.pedido-total{

    border-bottom: 1px solid rgb(201, 201, 201);
    margin-bottom: 10px;

}

.card-produto{

    padding: 5px;

}

/* Padronizações */

.boleto-bancario{

    display: none;

}