*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

.secoes{

    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
 
.secao{

    background-color: rgb(219, 219, 219);
    border: 2px solid rgb(197, 197, 197);
    border-radius: 3px;
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;


}

.secao-content{

    margin: 0 auto;
    width: 90%;


}


.secao-content > p{

    margin: 20px;
    font-size: 20px;
    
}

.secao-content > div:not(.parcelar){
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.secao-content > div input:not(.input-parcelar){

    border: none;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;

}

.bandeiras{
    margin-top: 5px;

}

.bandeiras i{

    color: rgb(163, 163, 163);
    margin-right: 2px;
    font-size: 20px;
   
}

.bandeiras i:hover{

    transform: scale(1.2);

}
.validade-opcoes{

    flex: none;
    width: 100%;

}

.validade-opcoes select{

    width: 49%;
    padding: 10px;
    margin-top: 5px;

}


.parcelar{

    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.parcelar label{

    font-size: 18px;


}

.parcelar > input{
    width: 30px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(128, 128, 128);
    margin-left: 5px;
    margin-right: 5px;
}

.comprar{

    width: 100%;
    border: none;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(82, 177, 82);
    color: white;
    font-size: 16px;

}