/* MENSAGEM INSPIRACIOS PARA INSPIRAR TODOS A COMPRAR*/

.mensagem{
    margin: 0px auto;
    width: 90%;
    height: 400px;
    position: relative;
    border-bottom: 1px solid rgb(218, 218, 218);

}

.mensagem-content{
    width: 700px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mensagem-content h1{
    margin: 0 auto;
    overflow: hidden;
    max-width: 700px;
}

@media only screen and (max-width: 900px) {

    .mensagem-content h1{

        max-width: 400px;

    }

}



/* PARTE DO CODIGO AQUAL SE REFERE AOS PRODUTOS */

.produtos {
    position: relative;
    width: 90%;
    margin: 0px auto;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.produtos-content {
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.produtos-imagens{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.produto-botao{
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 5px 5px rgb(173, 173, 173);
    width: 243px;
    cursor: pointer;
    margin-bottom: 20px;
}

.produto-botao:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 15px 15px rgb(173, 173, 173);
}

.produto-botao div p{

    font-size: 20px;
    padding: 20px;

}


.produto-botao-img{

    background-size: cover;
    height: 240px;

}


/* VIDEO DE ANIAMIS FOFINHOS E RACAO PAR AFAZER DINERO*/

.video{
    width: 90%;
    border-bottom: 1px dotted rgb(218, 218, 218);
    margin: 0px auto;
    text-align: center;
}

.video h1{
    margin: 40px 0px 80px 0px;
    overflow: hidden;
}

.video iframe{
    width: 70%;
    height: 500px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 3px rgb(153, 153, 153);
}

/* DEPOIMENTO DOS USUARIOS */

.depoimento{
    width: 90%;
    border-bottom: 1px solid rgb(218, 218, 218);
    margin: 40px auto 80px auto;
    text-align: center;
}

.depoimento-titulo {
    width: 100%;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.cards-review-div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.card-review{
    font-size: 16px;
    position: relative;
    background-color: white;
    width: 300px;
    flex-basis: 300px;
    height: 575px;
    box-shadow: 0px 5px  5px rgb(173, 173, 173);
    margin-bottom: 20px;

}

.card-img{
    overflow: hidden;
    background-color: blueviolet;
    position: relative;
    width: 100%;
    height: 45%;
    box-shadow: 0px 5px  5px rgb(173, 173, 173);
}

.card-img img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
}

.card-nome{
    margin-top: 190px;
    text-align: center;
    color: white;
}

.card-nome h1{
    overflow: hidden;
    font-size: 30px;
}

.card-txt{
    width: 250px;
    margin: 50px auto;
}

.card-txt *{
    text-align: center;
    overflow: hidden;
}

.card-stars img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}



/* NOSSA SEDE NO MAPA GOOGLE API*/

.mapa-div{
    width: 90%;
    height: 800px;
    margin: 0px auto;
    position: relative;
}

.mapa-content{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.mapa-content .mapa{
    width: 60%;
    height: 600px;
    margin: 0px auto;

}
