*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}

body{

    background-color:#ffffff;
    overflow-y: auto;

}

header{

    width: 100%;
    height: 80px;
    background-color: blueviolet;
    overflow: hidden;
    display: flex;
    align-items: center;

}

header .logo{

    margin: 40px 80px 0px 40px;
    width: 100px;
    height: 40px;
    transform: translateY(-50%);
    flex: none;

}

header .barra-pesquisa{

    position: relative;
    width: 540px;
    height: 40px;

}

header .barra-pesquisa *{
    display: inline-block;

}

header .barra-pesquisa input{

    width: 500px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

header .barra-pesquisa button{

    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    outline: none;

}

header .barra-pesquisa button:hover{

    background-color: #f1f1f1;

}

header .barra-pesquisa button i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #767676;
}

header .icones{

    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
    

}

header .icones .borda-icone{

    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin-right: 30px;


}

header .icones .borda-icone:hover{

    border: 2px solid #f24783;


}


header .icones .borda-icone i{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding-right: 2px;

}


@media only screen and (max-width: 1100px) {

    header .logo{
        margin-right: 40px;
    }

    header .barra-pesquisa{
        
        margin-right: 10px;

    }


    header .icones{

        display: none;
        
    
    }

}

@media only screen and (max-width: 800px) { header .barra-pesquisa input{ width: 90%; }header .barra-pesquisa button{ width: 10%; }}


/* MENSAGEM INSPIRACIOS PARA INSPIRAR TODOS A COMPRAR*/

.mensagem{

    margin: 0px auto;
    width: 90%;
    height: 750px;
    position: relative;
    border-bottom: 1px solid rgb(218, 218, 218);

}

.mensagem-content{
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mensagem-content h1{
    margin: 0px auto;
    overflow: hidden;
    max-width: 700px;
}

.mensagem-content button{

    margin-top: 40px;
    border: none;
    width: 200px;
    padding: 10px;
    background-color: #f24783;
    color: white;
    outline: none;

}

.mensagem-content button:hover{

    background-color: #ee6b99;

}

/* PARTE DO CODIGO AQUAL SE REFERE AOS PRODUTOS */

.produtos {
    position: relative;
    width: 90%;
    height: 900px;
    margin: 0px auto;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.produtos button{
    margin-top: 80px;
    border: none;
    width: 200px;
    padding: 10px;
    background-color: #f24783;
    color: white;
    outline: none;
}

.produtos button:hover{
    background-color: #ee6b99;
}

.produtos-content {
    position: absolute;
    text-align: center;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.produtos-titulo h1{
    text-align: center;
    overflow: hidden;
}

.produtos-imagens * {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 10px solid white;
    width: 250px;
}

.produtos-imagens *:hover {
    border: 1px solid white;
}

/* VIDEO DE ANIAMIS FOFINHOS E RACAO PAR AFAZER DINERO*/

.video{
    width: 90%;
    height: 1000px;
    border-bottom: 1px dotted rgb(218, 218, 218);
    margin: 0px auto;
}

.video-content{
    width: 70%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.video-content h1{
    margin: 80px 0px 80px 0px;
    overflow: hidden;
}

.video-content iframe{
    margin-bottom: 80px;
}

/* DEPOIMENTO DOS USUARIOS */

.depoimento{
    width: 90%;
    height: 1150px;
    border-bottom: 1px solid rgb(218, 218, 218);
    margin: 80px auto 80px auto;
}

.depoimento-titulo {
    width: 100%;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.depoimento .card-review {
    display: inline-block;
}

.card-review{
    position: relative;
    margin-left: 50px;
    background-color: white;
    width: 400px;
    height: 700px;
    box-shadow: 0px 5px  5px rgb(173, 173, 173);
}

.card-img{
    background-color: blueviolet;
    position: relative;
    width: 100%;
    height: 45%;
    box-shadow: 0px 5px  5px rgb(173, 173, 173);
}

.card-img img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
}

.card-nome{
    margin-top: 245px;
    text-align: center;
    color: white;
}

.card-nome h1{
    overflow: hidden;
}

.card-txt{
    width: 325px;
    margin: 50px auto;
}

.card-txt *{
    text-align: center;
    overflow: hidden;
}

.card-stars img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.depoimento button{
    margin-top: 80px;
    border: none;
    width: 200px;
    padding: 10px;
    background-color: #f24783;
    color: white;
    outline: none;
}

.depoimento button:hover{
    background-color: #ee6b99;
}

.depoimento-botao {
    text-align: center;
    width: 100%;
    height: 300px
}

/* CONTATOS DA EMPRESA */

.contato-div{
    width: 90%;
    height: 600px;
    border-bottom: 1px solid rgb(218, 218, 218);
    margin: 0px auto;
    position: relative;
}

.contato-content{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    

}

.contato-content .mapa, .contato-content .contato{

    width: 45%;
    height: 80%;
    margin: 0px auto;

}

.contato-content .contato {
    display: flex;
    flex-direction: column;
    position: relative;
}

.contato-content .contato .contato-centralizador{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;


}


.contato-content .contato .contato-centralizador > div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contato-content .contato > div i{

    margin: 0px 20px 0px 20px;
    font-size: 40px;

}
.contato-content .contato > div p{

    font-size: 20px;

}



