*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;

}

body{

    background-color:#ffffff;

}

header{

    width: 100%;
    height: 80px;
    background-color: blueviolet;
    overflow: hidden;
    display: flex;
    align-items: center;

}

header .logo{

    margin: 40px 80px 0px 40px;
    width: 100px;
    height: 40px;
    transform: translateY(-50%);
    flex: none;

}

header .barra-pesquisa{

    position: relative;
    width: 540px;
    height: 40px;

}

header .barra-pesquisa *{
    display: inline-block;

}

header .barra-pesquisa input{

    width: 500px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
}

header .barra-pesquisa button{

    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

}

header .barra-pesquisa button:hover{

    background-color: #f1f1f1;

}

header .barra-pesquisa button i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #767676;
}

header .icones{

    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
    

}

header .icones .borda-icone{

    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin-right: 30px;


}

header .icones .borda-icone:hover{

    border: 2px solid #f24783;


}


header .icones .borda-icone i{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding-right: 2px;

}


@media only screen and (max-width: 1100px) {

    header .logo{
        margin-right: 40px;
    }

    header .barra-pesquisa{
        
        margin-right: 10px;

    }


    header .icones{

        display: none;
        
    
    }

}

@media only screen and (max-width: 800px) { header .barra-pesquisa input{ width: 90%; }header .barra-pesquisa button{ width: 10%; }}

.mensagem{

    margin: 0px auto;
    width: 90%;
    height: 500px;
    position: relative;
    border-bottom: 1px solid rgb(218, 218, 218);

}

.mensagem-content{

    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.mensagem-content h1{
    overflow: hidden;
}

.mensagem-content button{

    margin-top: 40px;
    border: none;
    width: 200px;
    padding: 10px;
    background-color: #f24783;
    color: white;


}

.mensagem-content button:hover{

    background-color: #ee6b99;

}