*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;
    font-family: "Roboto";

}

body{

    background-color:#000000;

}

header{

    width: 100%;
    height: 80px;
    position: fixed;
    background-color:#181818;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    z-index: 3;
    padding: 0px 30px 0px 30px;

}

header div{

    height: 100%;
    display: flex;
    align-items: center;

}

.header-start{

    width: 10%;

}

.logo{

    padding-left: 30px;
    height: 60px;
    width: 70px;

}

.header-center{

    width: 65%;

}


.search{

    position: relative;
    width: 700px;
    height: 30px;
    overflow: hidden;
    border: solid 2px #ff0000;
    background-color: #ff0000;
    border-radius: 5px;

}

.search .texto{

    width: 95%;
    height: 100%;
    padding: 10px;
    border: none;

}

.search .lupa{

    width: 35px;
    height: 100%;
    border: none;
    background-image: url(https://svg-clipart.com/clipart/white/HaPBSoz-search-icon-white-clipart.png);
    background-size: 30px;
    background-color: #ff0000;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    

}

.search .lupa:hover{

    cursor: pointer;

}

.header-end{

    width: 20%;

}


.header-end i{

    margin-left: 30px;
    width: 40px;
    font-size: 25px;
    color: #ff0000;
}


.header-end i:hover{

    color: #ffffff;
    cursor: pointer;

}

.div1{

    width: 100%;
    height: 700px;
    overflow: hidden;
}

.div1 img{

    width: 100%;
    height: 100%;
    opacity: .1;

}

.div1-content{

    width: 60%;
    height: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;


}

.div1-content h1{

    max-width: 900px;
    text-align: center;
    color: white;

}

.div1-content button{

    border: 1px solid red;
    background-color: #181818;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    width: 180px;
    padding: 15px;
    margin-top: 70px;

}

.div1-content button:hover{

    border: 1px solid green;
    background-color: #292828;
    cursor: pointer;

}