/* Outros */

*{

    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    outline: none;
    text-decoration: none;

}

.desativado-inicio{

    display: none;

}

.vertical-horizontal-align{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.logo-cadastrologin{

    position: absolute;
    cursor: pointer;
    z-index: 2;
    width: 90px;
    margin: 20px 0 0 30px;

}

.logo-cadastrologin img{

    width: 100%;
    
}

.pagina{

    width: 100%;
    height: 100%;
    position: relative;

}

.dados{

    position: relative;
    width: 75%;

}

.imagem{

    background-image: url(../img/catanddog.jpg);
    background-position-x: -20px;
    width: 25%;

}

.input{
    border: none;
    border-bottom: 1px solid rgb(180, 180, 180);
    background-color: #fff0;
    padding: 10px;

}

a{
    margin-bottom: 40px;
    color: #691a91;
    cursor: pointer;
}

/* Login */

.formulario{

    width: 900px;
    height: 450px;
    background-color: rgb(245, 245, 245);
    display: flex;

}



.centralizador-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pagina-login label{

    margin-bottom: 10px;

}

.usuario-login{
    margin-bottom: 40px;
}

.senha-login{

    margin-bottom: 15px;

}

.botao{

    border: none;
    border-radius: 7px;
    width: 300px;
    padding: 7px;
    background-color: rgb(243, 140, 140);
    color: white;
    margin-bottom: 20px;

}


/* Cadastro */

.input-cadastro{

    margin-bottom: 30px;
    width: 100%;

}

.erro-input{

    color: red;
    border-bottom: 1px solid red;

}