*{

    overflow: hidden;

}

body{

   background-color: #2c3338;

}

.div-login{

    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.div-login div {

    display: flex;
    align-items: center;

}

.div-login label{

    border-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #363b41;
    height: 53px;
    width: 56px;
    margin-bottom: 20px;
    position: relative;

}

.div-login label i{

    color: #717579;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.div-login div input{

    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #3b4148;
    border: none;
    margin-bottom: 20px;
    display: inline-block;
    height: 53px;
    color: white;

}

.div-login div input:focus{

    background-color: #454b50;
    outline: none;
    box-shadow: none;
    border: none;
    color: white;

}

.div-login div input:hover{

    background-color: #454b50;
    transition: background-color 1s;

}
.div-login button {

    background-color: #42be76;
    width: 100%;
    height: 53px;
    border-radius: 3px;
    border: none;
    color: rgb(241, 240, 240);
    margin-bottom: 10px;
}

.div-login button:hover{

    background-color: #3fc778;

}


small{

    text-align: center;
    font-size: 16px;

}

small a, small a:hover{
    
    color: white;

}

strong{

    font-size: 14px;

}

