.produto {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: lightgray;
}

.produto-content{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.produto-content{
    display: flex;
    height: 1000px;
}

.produto-content div {
    float: left;
}

.info-geral {
    width: 75%;
    height: 100%;
    padding-top: 40px;
}

.info-lateral {
    width: 25%;
    height: 100%;
    border-left: 1px solid lightgrey;
    position: relative;
}

.info-lateral button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}  

.info-compra {
    margin-top: 100px;
    padding: 10px;
}

.div-img {
    width: 300px;
}

.info-geral img{
    width: 100%;
}

.div-info {
    width: 300px;
}

.div-info *:not(li){
    margin-bottom: 10px;
}

.div-info img {
    width: 90px;
}