.produto {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: lightgray;
}

.produto-content{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.produto-content{
    display: flex;
}

.info-geral {
    width: 75%;
    display: flex;
}

.info-lateral {
    width: 25%;
    border-left: 1px solid lightgrey;
    text-align: center;
}

.info-geral img{
    width: 300px;
}
