/* STYLES DOS PRODUTOS NOVOS E FILTRO*/



.produtos-centro .card-produto {
    float: left;
}

.card-produto{
    width: 250px;
    margin: 40px;
    border: 1px solid lightgray;
}

.card-produto-filtro{
    width: 200px;
    height: 100%;
    background-color: tomato;
}

.card-produto:hover{
    box-shadow: 0px 5px  5px rgb(221, 221, 221);
}

.card-produto div{
    padding: 10px;
}

.card-produto-foto{
    width: 100%;
    height: 200px;
    text-align: center;
}

.card-produto-foto img{
    height: 100%;
    background-color: blueviolet;
}

.card-produto-nome{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    color: white;
}

.card-produto-nota{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;

}

.card-produto-nota p{
    margin-right: 50px;
}

.card-produto-nota img{
    width: 100px;
    position: absolute;
    right: 0;
}

.card-produto-preco{
    width: 100%;
    font-size: 25px;
}
