*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}

:root {
    overflow-y: auto;
}

body{

    background-color:#ffffff;
    overflow-y: auto;

}

header{

    width: 100%;
    height: 80px;
    background-color: blueviolet;
    overflow: hidden;
    display: flex;
    align-items: center;

}

*, ::after, ::before{
    box-sizing: border-box;
}



header .logo{

    margin: 40px 80px 0px 40px;
    width: 100px;
    height: 40px;
    transform: translateY(-50%);
    flex: none;

}

header .barra-pesquisa{

    position: relative;
    width: 540px;
    height: 40px;

}

header .barra-pesquisa *{
    display: inline-block;

}

header .barra-pesquisa input{

    width: 500px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

header .barra-pesquisa button{

    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    outline: none;

}

header .barra-pesquisa button:hover{

    background-color: #f1f1f1;

}

header .barra-pesquisa button i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #767676;
}

header .icones{

    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
    

}

header .icones .borda-icone{

    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin-right: 30px;


}

header .icones .borda-icone:hover{

    border: 2px solid #f24783;

}


header .icones .borda-icone i{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding-right: 2px;

}


@media only screen and (max-width: 1100px) {

    header .logo{
        margin-right: 40px;
    }

    header .barra-pesquisa{
        
        margin-right: 10px;

    }


    header .icones{

        display: none;
        
    
    }

}

@media only screen and (max-width: 800px) {
    header .barra-pesquisa input{
        width: 90%; 
    }
    header .barra-pesquisa button{
            width: 10%; 
    }
}

/* O BOTAO ROSA PARA TODOS DOMINAR*/

.botao-rosa{

    margin-top: 40px;
    border: none;
    width: 200px;
    padding: 10px;
    background-color: #f24783;
    color: white;
    outline: none;

}
.botao-rosa:hover{
    background-color: #ee6b99;
}

/* STYLES DOS PRODUTOS NOVOS E FILTRO*/

.centralizador {
    width: 100%;
    height: 100%;
}

.centralizador{
    display: flex;
}

.filtro{
    width: 15vw;
    height: 100vh;
    border-right: 1px solid lightgray;
}

.produtos{
    width: 85vw;
}

.produtos-centro .card-produto {
    float: left;
}

.card-produto{
    width: 250px;
    height: 500px;
    margin: 40px;
    border: 1px solid lightgray;
}

.card-produto-filtro{
    width: 200px;
    height: 100%;
    background-color: tomato;
}

.card-produto:hover{
    box-shadow: 0px 5px  5px rgb(221, 221, 221);
}

.card-produto div{
    padding: 10px;
}

.card-produto-foto{
    width: 100%;
    height: 200px;
    text-align: center;
}

.card-produto-foto img{
    height: 100%;
    background-color: blueviolet;
}

.card-produto-nome{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    font-size: 18px;
    color: white;
}

.card-produto-nota{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.card-produto-nota p{
    margin-right: 50px;
}

.card-produto-nota img{
    width: 100px;
}

.card-produto-preco{
    width: 100%;
    height: 100px;
    font-size: 25px;
}
