.produto-content{
    width: 80%;
    background-color: white;
    margin: 20px auto;
}


.produto-content div{
    float: left;
}

.conteudo-esquerdo{

    width: 75%;

}

.info-geral {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.produtos-similares{

    width:100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;

}

.card-similar{

    width: 200px;
    height: 300px;
    border: 1px solid rgb(216, 216, 216);
}

.div-foto{

    width: 100%;
    height: 120px;
    margin-bottom: 40px;
    text-align: center;


}

.div-foto img{

    width: 100px;
    height: 100px;
    margin-top: 20px;

}

.descricao-produto{

    line-height: .9;
}

.card-similar p{

    width: 100%;
    padding-left: 20px;

}


.info-lateral {
    width: 25%;
    position: relative;
    padding: 20px;
}

.preco-produto{

    font-size: 22px;
    margin: 30px 0 0 25px;
    color: #f24783;
    font-family: 'Nunito', Helvetica,Arial,sans-serif;

}

.div-botao{
    width: 100%;
    text-align: center;
}  

.info-compra {
    padding: 10px;
}

.div-img {
    width: 30%;
}

.info-geral img{
    width: 100%;
}

.div-info {
    width: 70%;
}

.div-info *:not(li){
    margin-bottom: 10px;
}

.div-info img {
    width: 90px;
}